<div class='settings'>
  <div class='close' (click)='settingsService.toggleSettings()'>X</div>
  <h4>
    Settings
  </h4>
  <div id ='settings-main'>
    <div id='settings-left'>
      <ul>
        <li [ngClass]="{'selected': showMenu === 'general'}" (click)="showMenu = 'general'">General</li>
        <li [ngClass]="{'selected': showMenu === 'unhide'}" (click)="showMenu = 'unhide'">Unhide</li>
      </ul>
    </div>
    <div id='settings-right'>
      <div [hidden]="showMenu != 'general'"><h3>General settings</h3></div>
      <div [hidden]="showMenu != 'unhide'">
        <h3>Unhide</h3>
        <div *ngFor='let item of settingsService.hiddenList'>
          <input type='checkbox' [(ngModel)]='item.hidden' (change)='toggleHide(item)'>
          <fa-icon [hidden]='item.type != "directory"' [icon]="iconsService.faFolder"></fa-icon>
          <fa-icon [hidden]='item.type === "directory"' [icon]="iconsService.faFile"></fa-icon>
          <span [class.hideDir]='!item.imageName'> {{item.fullName}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

