//colors
$dialogBackground: #252525;
$sidebarBackground: #383838;
$dialogColor: #DDDDDD;
$background: #eaeaea;
$highlightText: rgb(117, 196, 117);
$dangerText: rgb(233, 96, 91);

button {
  border: none;
  padding: 5px 10px;
  font-size: 15px;
}