<div class='menuOuter'>
  <div class='menu' [class.wait]='message || uiService.showSettings'>
    <!-- <button (click)='pickDirectory()'>Open folder</button> -->
    <div class='button' (click)='toggleSlideShow()'>{{stopped ? '' : ''}}</div>
    <div class='button' (click)='previous()'></div>
    <div class='button' (click)='next()'></div>
    <div class='button' (click)='deleteImage()' *ngIf='imageDetails'></div>
    <div class='button delete' (click)='deleteDirectory()' *ngIf='imageDetails'><span></span></div>
    <div class='button' (click)='hideImage()' *ngIf='imageDetails'></div>
    <div class='button delete' (click)='hideDirectory()' *ngIf='imageDetails'><span></span></div>
    <div class='button' (click)='scan()'></div>
    <div class='button' (click)='uiService.toggleSettings()'></div>
    <span [hidden]='!message'>{{message}}</span>
  </div>
</div>
<settings-component *ngIf='uiService.showSettings'></settings-component>
<div class='container' (click)='toggleSlideShow()'>
  <div class='playPause' [class.recentlyClicked]='recentlyClicked'>{{stopped ? '' : ''}}</div>
  <img
    *ngIf='imageDetails'
    [src]='imageDetails.directory + "/" + imageDetails.imageName'
    (error)='notFound = true'
  />
  <div *ngIf='settings && !settings.pictureDirectory'>Pick your picture folder to get started.
    <button (click)='pickDirectory()'>Open Folder</button>
  </div>
  <div *ngIf='notFound'>File not found.
    <button (click)='scan()'>Rescan ?</button>
  </div>
</div>
