<div class='menuOuter' (mouseenter)="imageService.stopSlideShow()">
  <div class='menu' [class.wait]='messageService.message || settingsService.showSettings'>
    <!-- <button (click)='pickDirectory()'>Open folder</button> -->
    <div class='button' (click)='imageService.toggleSlideShow()' data-tooltip='Play/Pause'>
      <fa-icon [icon]="imageService.slideshowStopped ? iconsService.faPlay : iconsService.faPause"></fa-icon>
    </div>
    <div class='button' (click)='imageService.previous()' data-tooltip='Previous image'>
      <fa-icon [icon]="iconsService.faStepBackward"></fa-icon>
    </div>
    <div class='button' (click)='imageService.next()' data-tooltip='Next image'>
      <fa-icon [icon]="iconsService.faStepForward"></fa-icon>
    </div>
    <div class='button' (click)='openDeleteModal()' *ngIf='imageService.imageDetails' data-tooltip='Delete image'>
      <fa-icon [icon]="iconsService.faTrashAlt"></fa-icon>
    </div>
    <div class='button delete' (click)='deleteDirectory()' *ngIf='imageService.imageDetails' data-tooltip='Delete directory'>
      <fa-icon [icon]="iconsService.faTrashAlt"></fa-icon>
      <span class='folderIconOutline'>
        <fa-icon [icon]="iconsService.faFolder"></fa-icon>
      </span>
      <span class='folderIcon'>
        <fa-icon [icon]="iconsService.faFolder"></fa-icon>
      </span>
    </div>
    <div class='button' (click)='hideImage()' *ngIf='imageService.imageDetails' data-tooltip='Hide image'>
      <fa-icon [icon]="iconsService.faMinusCircle"></fa-icon>
    </div>
    <div class='button delete' (click)='hideDirectory()' *ngIf='imageService.imageDetails' data-tooltip='Hide directory'>
      <fa-icon [icon]="iconsService.faMinusCircle"></fa-icon>
      <span class='folderIconOutline'>
        <fa-icon [icon]="iconsService.faFolder"></fa-icon>
      </span>
      <span class='folderIcon'>
        <fa-icon [icon]="iconsService.faFolder"></fa-icon>
      </span>
    </div>
    <div class='button' (click)='rendererSendService.scan()' data-tooltip='Scan'>
      <fa-icon [icon]="iconsService.faSync"></fa-icon>
    </div>
    <div class='button' (click)='settingsService.toggleSettings()' data-tooltip='Settings'>
      <fa-icon [icon]="iconsService.faCog"></fa-icon>
    </div>
    <div class='button' (click)='imageService.setRotationLeft(renderer)' data-tooltip='Rotate left'>
      <fa-icon [icon]="iconsService.faUndo"></fa-icon>
    </div>
    <div class='button' (click)='imageService.setRotationRight(renderer)' data-tooltip='Rotate right'>
      <fa-icon [icon]="iconsService.faUndo" flip="horizontal"></fa-icon>
    </div>
    <span [hidden]='!messageService.message'>{{messageService.message}}</span>
  </div>
  <modal *ngIf='modelOpen === true' (cancelEvent)="closeModal()" (deleteEvent)="deleteImage()">
    <div>
      <p>The following image will be permenantly deleted.  Are you sure?</p>
      <span>{{ imageService.imageDetails.directory + '/' + imageService.imageDetails.imageName}}</span>
      <img [src]='"http://localhost:" + settingsService.settings.expressJsPort + "/" + imageService.imageDetails.relativeDirectory + "/" + imageService.imageDetails.imageName'/>
    </div>
  </modal>
</div>
