<menu-component></menu-component>
<settings-component *ngIf='settingsService.showSettings'></settings-component>
<div class='container' (click)='imageService.toggleSlideShow()'>
  <div class='playPause' [class.recentlyClicked]='imageService.recentlyClicked'><fa-icon [icon]="imageService.slideshowStopped ? iconsService.faPause : iconsService.faPlay"></fa-icon></div>
  <div class='imageHolder'>
    <img
      *ngIf='imageService.imageDetails && settingsService.settings'
      [src]='"http://localhost:" + settingsService.settings.expressJsPort + "/" + imageService.imageDetails.relativeDirectory + "/" + imageService.imageDetails.imageName'
      (load)='imageService.rendered = true'
      (error)='notFound = true'
      [class.rotate90]='imageService.imageDetails.rotate == 1 && imageService.rendered'
      [class.rotate180]='imageService.imageDetails.rotate == 2 && imageService.rendered'
      [class.rotate270]='imageService.imageDetails.rotate == 3 && imageService.rendered'
    />
  </div>
  <div *ngIf='settingsService.settings && !settingsService.settings.pictureDirectory'>Pick your picture folder to get started.
    <button (click)='rendererSendService.pickDirectory()'>Open Folder</button>
  </div>
  <div *ngIf='notFound'>File not found.
    <button (click)='rendererSendService.scan()'>Rescan ?</button>
  </div>
</div>
